$view-height: 1080px;
$view-width: 1920px;
$follower-height: 3vh;
$follower-font-size: $follower-height * .7;

$follower-height-first: $follower-height * 1.5;
$follower-font-size-first: $follower-height-first * .7;

$follower-margin-y: $follower-height * 2;
$follower-margin-x: 5px;

body{
	background: magenta;
	background-image: url('/assets/images/Hearthstone Screenshot 03-07-17 22.51.21.png');
	background-repeat: no-repeat;
}
#root{
	position: relative;
	height: $view-height;
	width: $view-width;
	font-size: 20px;
	overflow: hidden;
}

@keyframes flip-in {
    from {
		transform: rotateX(-90deg) translateZ(-4em);
		height: 0;
		opacity: 0;
	}
    to {
		transform: rotateX(0deg);
		height: $follower-height-first;
		opacity: 1;
	}
}
@keyframes flip-out {
    from {
		transform: rotateX(0deg);
		height: $follower-height;
		opacity: 1;
		margin: $follower-margin-x $follower-margin-y;
	}
	to {
		transform: rotateX(-90deg);
		height: 0;
		opacity: 0;
		margin: 0 $follower-margin-y;
	}
}
@keyframes shrink-down {
    from {
		font-size: $follower-font-size-first;
		line-height: $follower-height-first;
		margin: $follower-margin-x;
	}
	to {
		font-size: $follower-font-size;
		line-height: $follower-height;
		margin: $follower-margin-x $follower-margin-y;
	}
}

.followers-list{
	position: absolute;
	top: 0;
	left: 15vw;
	overflow: hidden;
	margin: 0;
	padding: 0;
	perspective: 200px;
	width: 22vw;
}
.followers-list--item{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	margin: $follower-margin-x $follower-margin-y;
	perspective-origin: 50% 0;
	transform-style: preserve-3d;
	line-height: $follower-height;
	font-size: $follower-font-size;

	// Needs latest Compass, add '@import "compass"' to your scss
// Permalink - use to edit and share this gradient:
// http://colorzilla.com/gradient-editor/#000c7a+0,5c88aa+100
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(4,60,181,1)), color-stop(54%, rgba(4,60,181,0.87)), color-stop(100%, rgba(103,151,181,0.75))); /* safari4+,chrome */
	color: white;
	box-shadow: 0 1px 3px rgba(black, .5);
	// border: solid rgba(#888, .5) 1px;
	padding: 0 12px;

	&:first-child{
		margin: $follower-margin-x;
		font-size: $follower-font-size-first;
		line-height: $follower-height-first;
		animation: flip-in 1s 1 ease-out;
	}

	&:nth-child(2){
		line-height: $follower-height-first;
		font-size: $follower-font-size-first;
		animation: shrink-down 1s 1 ease-out forwards;
	}

	&:nth-child(n+8){
		animation: flip-out 1s 1 ease-out forwards;
	}
}
